<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.team67.homelessshelter">


    <!-- Requesting permission to access location from the user-->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".controllers.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add a Map Activity-->

        <!--
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="8.3.0" />
        -->
        <!-- Gets the api key -->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyDSn_8uoNrhmyyZgN16R86-9Uk0QHKOkV4" />-->

        <!--<activity-->
            <!--android:namcontrollerslers.MapActivity"-->
            <!--android:label="@string/title_map">-->
                <!--<intent-filter>-->
                    <!--<action android:name="android.intent.action.MAIN" />-->
                    <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--</intent-filter>-->

        <!--</activity>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSn_8uoNrhmyyZgN16R86-9Uk0QHKOkV4" />

        <activity
            android:name=".controllers.MapActivity"
            android:label="@string/title_map"
            android:parentActivityName=".controllers.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--Requesting users location

        <manifest xmlns:android="http://schemas.android.com/apk/res/android"
            package="com.example.currentplacedetailsonmap">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </manifest>

        -->


        <!-- End of Map Activity-->

        <activity
            android:name=".controllers.LoginActivity"
            android:parentActivityName=".controllers.WelcomeActivity" />
        <activity
            android:name=".controllers.RegisterActivity"
            android:parentActivityName=".controllers.WelcomeActivity" />
        <activity android:name=".controllers.MainActivity" />

        <activity
            android:name=".controllers.ShelterListActivity"
            android:label="@string/title_shelter_list"
            android:parentActivityName=".controllers.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.cs2340.team67.homelessshelter.controllers.MainActivity" />
        </activity>
        <activity
            android:name=".controllers.ShelterDetailActivity"
            android:label="@string/title_shelter_detail"
            android:parentActivityName=".controllers.ShelterListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.cs2340.team67.homelessshelter.controllers.ShelterListActivity" />
        </activity>
    </application>

</manifest>